<link rel="stylesheet" href="/stylesheets/index.css">
<div class="introduce">
  <p>大连海事大学学生处学生资助管理中心于2006年正式成立，我们从事家庭经济困难学生的资助服务工作，力争做到“不让一名学生因家庭困难而辍学”，资助中心就是家庭经济困难学生的爱心家园。</p>
  <p>我们的办公室设立在西山校区启航楼302-1办公室。</p>
  <p>我们的办公电话：0411-84723615    0411-84723228</p>
  <p>中心主要成员及分工：</p>
  <p>中心主任：王慧敏<br/>
  主要负责在校大学生先进集体及个人荣誉的评定，学生奖学金的评定和新生博联基金的申请工作。</p>
  <p>中心老师：王焰<br/>
  主要负责家庭经济困难学生的评定；家庭经济困难学生申请勤工助学岗位、国家助学金和困难补助的发放工作</p>
  <p>中心老师：刘志坚<br/>
  主要负责国家助学贷款、生源地助学贷款的申请和发放工作；毕业生学费及助学贷款代偿工作。</p>
  <h1> {{message}}</h1>
</div>









{{!--<p> {{message}} </p>--}}
