<link rel="stylesheet" href="/stylesheets/notice.css">
<div class="main">
  <div class="content col-xs-9">
    <div class="red_bg col-xs-9"></div>
    <table>
      {{#mes}}
        <tr>
          <td><img src="/images/notice/arrow.png" width="36px" height="36px" alt=""></td>
          <td>{{paragraph}}</td>
          <td>{{date}}</td>
        </tr>
      {{/mes}}
    </table>
    {{!--<h1>{{date}}</h1>--}}
  </div>
  <div class="tag col-xs-3">
    <div class="tag_entity popTags text-center"style="letter-spacing:5px;">热门标签</div>
    <div class="tag_entity col-xs-7 tag1">国家贷款</div>
    <div class="tag_entity col-xs-3 tag2">考研</div>   
    <div class="tag_entity col-xs-4 tag3">NKY奖助<br/>学金</div>
    <div class="tag_entity col-xs-4 tag4">电信爱<br/>心礼包</div>
    <div class="tag_entity col-xs-2 tag5">骗<br>术</div>
    <div class="tag_entity col-xs-11 tag6">亿达集团实习生招募</div>
  </div>
</div>